// 
// Base Browser Reset
// 

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}
html{
    font-size: 50%;
    transition: all 0.3s ease-in-out;
    @media screen and (min-width: 650px) {
        font-size: 62.5%;
    }
}

body{
    background: #970;
    font-size: 1.6rem;
    line-height: 1.6;
}